<%- include('../partials/header') %>

<h2>Détail de l'utilisateur</h2>
<ul>
  <li>Nom : <%= user.username %></li>
  <li>Email : <%= user.email %></li>
</ul>
<a href="/users">← Retour à la liste</a>

<%- include('../partials/footer') %>
